.avatar_upload {
  border: 1px dashed white;
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 5px 20px;
  position: absolute;
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(45px);
  z-index: 2;
}

.avatar:hover ~ .avatar_upload,
.avatar_upload:hover {
  opacity: 1;
}

.opacity_none {
  opacity: 0;
}

.invalid_color {
  color: red !important;
}

.invalid_placeholder::placeholder {
  color: red !important;
}
